@charset "utf-8";
/* CSS Document */

/*========================================== */

@import url('assets/bootstrap-3.3.5-dist/css/bootstrap.min.css');
@import url('assets/bootstrap-3.3.5-dist/css/bootstrap-responsive.min.css');


/* Validation */

label.valid {
  width: 24px;
  height: 24px;
  background: url(assets/image/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
	color: #CF2C0E;
	font-weight:lighter;
	margin-top: 2px;
	margin-bottom: 3px;
}
